* {
  font-family: "Comfortaa";
}

html, body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

body {
  padding-bottom: 20px;
  background-color: rgb(240, 240, 240);
}

ul {
  padding-left: 15px;
  list-style-type: none;
}
ul > li {
  text-indent: -5px;
}
ul > li:before {
  content: "- ";
  text-indent: -5px;
}

#mainHeader {
  background-color: rgb(0, 101, 73);
  color: white;
  margin-top: 0;
  padding-left: 35px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 45px;
  font-weight: 300;
}

.subheader {
  display: block;
  padding-left: 90px;
  font-size: 20px;
  font-style: italic;
}

.nobottom {
  margin-bottom: 5px;
}

#main {
  width: 90vw;
  height: 30%;
  padding-left: 1vw;
}

#translation {
  border: 1px solid #000;
  width: 20em;
  height: 8em;
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 10px;
  background-color: white;
  overflow-y: auto;
}

#translation > span {
  font-family: "Lobster";
  font-size: 18px;
}

#info {
  width: 19.8em;
  border: 1px solid #000;
  padding-left: 10px;
  margin: 9px;
  background-color: rgb(245, 250, 255);
}

#info * {
  font-family: "Lobster";
}

/* Language switch button */
#langSwitchText, #langSwitchText > * {
  font-size: 20px;
  color: #000;
}
#langSwitch:hover {
  font-style: italic;
}
#langSwitch {
  padding: 0;
  border: none;
  background: none;
  color: green;
}
#langSwitch:not(:active) {
  opacity: 1;
  animation: fade 0.5s linear;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#userBox {
  width: 21em;
  margin-left: 10px;
}

.small {
  font-size: 12px;
}

.bold {
  font-style: bold;
}

.pinyin {
  font-size: 18px;
  font-style: italic;
}

#translate {
  margin-bottom: 10px;
}

textarea {
  border: 1px solid #000;
  resize: none;
  width: 50%;
  height: 100%;
  padding-top: 5px;
  padding-left: 5px;
  margin-top: 8px;
  font-size: 15px;
}

/* Segments */
.segment {
  display: inline-block;
  position: relative;
  color: black;
}
.segment:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.segment:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
